extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/books') Zero to One: Notes on Startups, or How to Build the Future
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 0-ppl commented
          p.author by Peter Thiel
         
        .col-xs-12.list-group-item
          h4
            a(href='/books') Steve Jobs
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 218-ppl commented
          p.author by Walter Isaacson

        .col-xs-12.list-group-item
          h4
            a(href='/books') David and Goliath: Underdogs, Misfits, and the Art of Battling Giants
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 218-ppl commented
          p.author by  Malcolm Gladwell
        .col-xs-12.list-group-item
          h4
            a(href='/books') 1984
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 218-ppl commented
          p.author by  George Orwell
        .col-xs-12.list-group-item
          h4
            a(href='/books') The Paradox of Choice: Why More Is Less
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 218-ppl commented
          p.author by  Barry Schwartz


       


    .col-xs-12.col-sm-4
      p.lead
        | Click on your book to view all the comments by other people.