<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <!-- <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter"> -->
      <div class="error">{{ vm.message }}</div>
      <div class="row list-group">
            <div class="col-xs-12 list-group-item" ng-repeat="book in vm.data.books | filter : textFilter">
                <h4>
                    {{book.bookAuthor}}
                </h4>
                <div ng-repeat="eachbook in book.titles">
                    <ul>
                        <li>
                            <a href="/#/book/{{ book._id }}/titles/{{ titles._id }}">{{eachbook.title}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">{{ vm.sidebar.content }}</p>
    </div>
  </div>
  <footer-generic></footer-generic>
</div>